#SPDX-License-Identifier: MIT

x-postgres-common:
  &postgres-common
  image: postgres:16
  user: postgres
  restart: unless-stopped
  stop_grace_period: 1800s
  shm_size: 25g  #matches what postgres has set for shared_buffers
  healthcheck:
    test: 'pg_isready -U augur --dbname=postgres'
    interval: 10s
    timeout: 5s
    retries: 5

services:
  database:
    <<: *postgres-common
    environment:
      POSTGRES_DB: ${COLLECTOSS_DB}
      POSTGRES_USER: ${COLLECTOSS_DB_USER}
      POSTGRES_PASSWORD: ${COLLECTOSS_DB_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - {{ postgres_data_mount_point }}:/var/lib/postgresql/data
     # - /opt/facade/dumps/:/dumps # probably legacy from when backups were done this way
    networks:
      - collectoss
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${COLLECTOSS_DB_USER:-augur} -d ${COLLECTOSS_DB_NAME:-augur}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    restart: unless-stopped
    networks:
      - collectoss

  keyman:
    image: ghcr.io/chaoss/collectoss-keyman:{{ docker_tag_version }}
    restart: unless-stopped
    user: 3456:3456  # Run as an arbitrary non-root user
    environment:
      REDIS_CONN_STRING: redis://redis:6379
    depends_on:
      - redis
    networks:
      - collectoss

  rabbitmq:
    image: augur-rabbitmq:v1.0.0
    restart: unless-stopped
    networks:
      - collectoss
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  core:
    image: ghcr.io/chaoss/collectoss:{{ docker_tag_version }}
    volumes:
      - cache:/cache
      - /opt/facade/clones:/collectoss/facade
      - /opt/facade/logs:/logs
      - {{ config_data_mount_point }}:/config
    restart: unless-stopped
    #command:
    #  [ "sleep", "3600" ]
    ports:
      - 5000:5000
    extra_hosts:
      - "host.docker.internal:host-gateway" #Be able to ping services on the local machine
    environment:
      COLLECTOSS_DB: postgresql+psycopg2://${COLLECTOSS_DB_USER:-augur}:${COLLECTOSS_DB_PASSWORD:-augur}@database:5432/augur
      COLLECTOSS_DB_SCHEMA_BUILD: 1
      COLLECTOSS_DOCKER_DEPLOY: 1
      COLLECTOSS_FLAGS: ${COLLECTOSS_FLAGS}
      COLLECTOSS_GITHUB_USERNAME: ${COLLECTOSS_GITHUB_USERNAME}
      COLLECTOSS_GITHUB_API_KEY: ${COLLECTOSS_GITHUB_API_KEY}
      COLLECTOSS_GITLAB_USERNAME: ${COLLECTOSS_GITLAB_USERNAME}
      COLLECTOSS_GITLAB_API_KEY: ${COLLECTOSS_GITLAB_API_KEY}
      REDIS_CONN_STRING: redis://redis:6379
      RABBITMQ_CONN_STRING: amqp://${COLLECTOSS_RABBITMQ_USERNAME:-augur}:${COLLECTOSS_RABBITMQ_PASSWORD:-password123}@rabbitmq:5672/${COLLECTOSS_RABBITMQ_VHOST:-augur_vhost}
      COLLECTOSS_RESET_LOGS: False
      CONFIG_DATADIR: /config
      CACHE_DATADIR: /cache
      CACHE_LOCKDIR: /cache
    networks:
      - collectoss
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started
      keyman:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  flower:
    image: ghcr.io/chaoss/collectoss:{{ docker_tag_version }}
    restart: unless-stopped
    command:
      [ "celery", "-A", "collectoss.tasks.init.celery_app.celery_app", "flower", "--max-tasks=1000000" ]
    environment:
      COLLECTOSS_DB: postgresql+psycopg2://${COLLECTOSS_DB_USER:-augur}:${COLLECTOSS_DB_PASSWORD:-augur}@database:5432/augur
      REDIS_CONN_STRING: redis://redis:6379
      RABBITMQ_CONN_STRING: amqp://${COLLECTOSS_RABBITMQ_USERNAME:-augur}:${COLLECTOSS_RABBITMQ_PASSWORD:-password123}@rabbitmq:5672/${COLLECTOSS_RABBITMQ_VHOST:-augur_vhost}
    ports:
      - 5555:5555
    networks:
      - collectoss
    depends_on:
      - core
      - database
      - redis
      - rabbitmq
  
networks:
  collectoss:

volumes:
  cache: