- name: Ensure gpg is installed
  apt:
    pkg:
      - gpg
    state: present
    update_cache: true
  become: true

- name: Check If Docker Is Installed
  command: docker --version
  register: docker_valid
  ignore_errors: true

- name: Ensure docker is installed
  apt:
    pkg:
      - docker
      - docker.io
      - docker-compose
    state: present
    update_cache: true
  become: true
  when: docker_valid.failed

- name: Add docker apt repository key.
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/trusted.gpg.d/docker.asc
    mode: '0644'
    force: true
  become: true
  when: docker_valid.failed


- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/debian bookworm stable
    state: present
  become: true
  when: docker_valid.failed


- name: Install docker-ce
  apt:
    name: docker-ce
    state: latest
    update_cache: true
  become: true
  when: docker_valid.failed


- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true

- name: Reset ssh connection to allow user changes to affect ansible user
  ansible.builtin.meta:
    reset_connection


- name: Build the 8Knot image
  community.docker.docker_image_build:
    name: "{{ docker_image_tag }}"
    path: "{{ git_clone_path }}/"
    dockerfile: docker/Dockerfile
  