
- name: Ensure docker is installed
  ansible.builtin.include_role:
    name: common
    tasks_from: docker_apt

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true

- name: Reset ssh connection to allow user changes to affect ansible user
  ansible.builtin.meta: reset_connection

- name: Build the 8Knot image
  community.docker.docker_image_build:
    name: "{{ docker_image_tag }}"
    rebuild: always
    path: "{{ git_clone_path }}/"
    dockerfile: docker/Dockerfile
