- name: Prepare location for postgres data mount
  ansible.builtin.file:
    path: "{{ mount_point }}"
    state: directory
    mode: "0755"
    owner: 999
  become: true

- name: remount DB to {{ mount_point }}
  ansible.posix.mount:
    path: "{{ mount_point }}"
    src: "{{ source_device_partition }}"
    fstype: xfs
    state: mounted
  become: true

- name: Write the postgres config
  ansible.builtin.copy:
    src: files/postgresql.conf
    dest: "{{ mount_point }}/postgresql.conf"
    owner: 999
    group: systemd-journal
    mode: "0600"
  become: true
