- name: Load extra variables
  ansible.builtin.include_vars:
    file: secrets.yml

# https://stackoverflow.com/questions/22225095/trying-to-launch-a-process-via-screen-from-within-ansible
- name: start a screen session to refresh the materialized views
  ansible.builtin.shell: |
    tmux new-session -d -s "ansible-refresh-mat-views" \
    "docker container exec -e PGPASSWORD={{ augur_pg_password }} {{ augur_pg_container_name }} \
    psql -U {{ augur_pg_container_user }} -c 'Refresh materialized view augur_data.explorer_contributor_actions; Refresh materialized view augur_data.explorer_issue_assignments; Refresh materialized view augur_data.explorer_pr_assignments; Refresh materialized view augur_data.explorer_pr_response; Refresh materialized view augur_data.explorer_repo_languages;'"
  # environment:
  #   PGPASSWORD: "{{ augur_pg_password }}" # Pass the password securely via environment variable
  vars:
    augur_pg_container_user: augur
    augur_pg_container_name: 8knot-augur-db-1
  async: 36000 # 10 hours
  poll: 0 #exit immediately and continue
  changed_when: true # This task changes the state of the database
