git_clone_path: /opt/git/8Knot
git_clone_ref: main

compose_path: /opt/compose/8knot/
docker_image_tag: 8knot:main

#eightknot.osci.io
public_hostname: "{{ inventory_hostname }}"

source_device_disk: "/dev/nvme1n1"
# fallback value in case one cant be determined from the mount point (i.e. because it isnt mounted)
source_device_partition: "{{source_device_disk}}p1"
mount_point: "/opt/augur/postgresql/data"

# --- PostgreSQL & Docker Configuration ---
augur_pg_container_mount_point: "/var/lib/postgresql/data" # The mount point for PostgreSQL data on the target server
augur_pg_container_name: "8knot-augur-db-1"
augur_pg_container_user: "augur"
augur_pg_password: "{{ vault_augur_password }}"

eightknot_pg_cache_volume_name: 8knot_postgres-cache

# 8knot_pg_container_name: "postgres"
old_pg_container_name: "my_postgres_old" # Name of the existing PostgreSQL Docker container
new_pg_container_name: "my_postgres_new" # Name for the new PostgreSQL Docker container
pg_image: "postgres" # Docker image for PostgreSQL (e.g., 'postgres', 'bitnami/postgresql')
pg_version: "16" # PostgreSQL version tag (e.g., '16', 'latest')
backup_label: "ansible_snapshot_backup" # A label for your backup (e.g., to identify the snapshot source)

# --- New Volume Settings (Optional) ---
# Set to 0 or comment out to keep the original size from the snapshot.
new_volume_type: "gp3" # Optional: Type of the new EBS volume (e.g., gp2, gp3, io1, st1)


# Bot accounts with postgres access
bot_account_publishing_password: "{{ vault_bot_account_publishing_password }}"
bot_account_grafana_password: "{{ vault_bot_account_grafana_password }}"